---
api:
  dashboard: false
  insecure: false

log:
  level: INFO

entryPoints:
  web:
    address: ":52000"

providers:
  file:
    filename: "{{ agents_home }}/.config/traefik/dynamic.yaml"
    watch: true
