APP_TITLE=Hydra Hmlb
APP_URL=https://tiny.hydrahmlb.cc
DISABLE_RESOURCES=false
RESOURCES_DIR=/data/resources
BACKGROUND_IMAGE=/resources/custom.jpg
PROVIDERS_AUTHENTIK_CLIENT_ID=REPLACE_ME
PROVIDERS_AUTHENTIK_CLIENT_SECRET=REPLACE_ME
PROVIDERS_AUTHENTIK_AUTH_URL=https://authentik.hydrahmlb.cc/application/o/authorize/
PROVIDERS_AUTHENTIK_TOKEN_URL=https://authentik.hydrahmlb.cc/application/o/token/
PROVIDERS_AUTHENTIK_USER_INFO_URL=https://authentik.hydrahmlb.cc/application/o/userinfo/
PROVIDERS_AUTHENTIK_REDIRECT_URL=https://tiny.hydrahmlb.cc/api/oauth/callback/authentik
PROVIDERS_AUTHENTIK_ISSUER=https://authentik.hydrahmlb.cc/application/o/tinyauth
PROVIDERS_AUTHENTIK_SCOPES=openid profile email
